<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reporteador_CR.Properties.Settings.FileControlConnectionString" connectionString="Data Source=TID;Initial Catalog=FileControl;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Reporteador_CR.Properties.Settings.GIAP48ConnectionString" connectionString="Data Source=GIAPDESK02;Initial Catalog=GIAP48;Persist Security Info=True;User ID=Reporte;Password=R3pSi.2021." providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
